<section id="second" class="row expanded align-center">
    <h1 id="products-header" class="section-header hide-for-small-only" data-bottom="@Animate: 0;" data-center="@Animate: 1;" data-100-top="@Animate: 2;">Experience the Magic!</h1>
    <div id="productSlider" class="royalSlider rsDefault visibleNearby">
        <div>
            <a class="rsLink" href="{{root}}/product-page.html"><img class="rsImg" src="../assets/img/_products/cleanser.jpg" /></a>
            <div class="rsCaption">
                <u>Gentle Cleanser</u><span class="rsABlock" data-fade-effect="true" data-move-effect="none" data-speed="300" data-easing="easeOutSine">Clean &amp; Mousturize</span><span class="rsABlock" data-fade-effect="true" data-move-effect="none" data-speed="300" data-delay="400" data-easing="easeOutSine"><p>Cleanse gently to maintain natural oils and restore natural moisturizing factors lost during normal soap and water cleansing.</p></span></div>
        </div>
        <div>
            <a class="rsLink" href="{{root}}/product-page.html"><img class="rsImg" src="../assets/img/_products/cleanser.jpg" /></a>
            <div class="rsCaption">
                <u>Replenishing Toner</u><span class="rsABlock" data-fade-effect="true" data-move-effect="none" data-speed="300" data-easing="easeOutSine">Moisturize &amp; Nourish</span><span class="rsABlock" data-fade-effect="true" data-move-effect="none" data-speed="300" data-delay="400" data-easing="easeOutSine"><p>Energize skin, restore natural moisturizing factors and pH balance, Increase elasticity to reduce the appearance of fine lines.</p></span></div>
        </div>
        <div>
            <a class="rsLink" href="{{root}}/product-page.html"><img class="rsImg" src="../assets/img/_products/cleanser.jpg" /></a>
            <div class="rsCaption">
                <u>Nourishing Scrub</u><span class="rsABlock" data-fade-effect="true" data-move-effect="none" data-speed="300" data-easing="easeOutSine">Exfoliate &amp; Renew</span><span class="rsABlock" data-fade-effect="true" data-move-effect="none" data-speed="300" data-delay="400" data-easing="easeOutSine"><p>Exfoliates to restore dead skin cells, leaving a more refreshed complexion, while antioxidant Vitamin C helps to protect and improve skin quality.</p></span></div>
        </div>
        <div>
            <a class="rsLink" href="{{root}}/product-page.html"><img class="rsImg" src="../assets/img/_products/cleanser.jpg" /></a>
            <div class="rsCaption">
                <u>Dry Skin Serum</u><span class="rsABlock" data-fade-effect="true" data-move-effect="none" data-speed="300" data-easing="easeOutSine">Heal &amp; Regenrate</span><span class="rsABlock" data-fade-effect="true" data-move-effect="none" data-speed="300" data-delay="400" data-easing="easeOutSine"><p>High in antioxidants to help repair dry, damaged skin and protect from free radicals and sun exposure.</p></span></div>
        </div>
        <div>
            <a class="rsLink" href="{{root}}/product-page.html"><img class="rsImg" src="../assets/img/_products/cleanser.jpg" /></a>
            <div class="rsCaption">
                <u>Eye Serum</u><span class="rsABlock" data-fade-effect="true" data-move-effect="none" data-speed="300" data-easing="easeOutSine">Strengthen &amp; Firm</span><span class="rsABlock" data-fade-effect="true" data-move-effect="none" data-speed="300" data-delay="400" data-easing="easeOutSine"><p>Reduce fine lines, brignten and tighten skin in the delicate eye area.</p></span></div>
        </div>
        <div>
            <a class="rsLink" href="{{root}}/product-page.html"><img class="rsImg" src="../assets/img/_products/cleanser.jpg" /></a>
            <div class="rsCaption">
                <u>Face Cream</u><span class="rsABlock" data-fade-effect="true" data-move-effect="none" data-speed="300" data-easing="easeOutSine">Moisturize &amp; Repair</span><span class="rsABlock" data-fade-effect="true" data-move-effect="none" data-speed="300" data-delay="400" data-easing="easeOutSine"><p>Strengthen the skin's natural moisture barrier to protect from dryness and reduce the appearance of fine lines.</p></span></div>
        </div>
        <div>
            <a class="rsLink" href="{{root}}/product-page.html"><img class="rsImg" src="../assets/img/_products/cleanser.jpg" /></a>
            <div class="rsCaption">
                <u>The Juju Family</u><span class="rsABlock" data-fade-effect="true" data-move-effect="none" data-speed="300" data-easing="easeOutSine"><p>Cleanse gently to maintain natural oils and restore natural moisturizing factors lost during normal soap and water cleansing</p></span></div>
        </div>
    </div>
    {{> quote-two}}
</section>
