<section id="third" class="columns expanded third slide">
    <h1 id="story-header" class="section-header hide-for-small-only bgc" data-bottom="@Animate: 0;" data-center-top="@Animate: 1;" data-top="@Animate: 2;">The Story of Juju...</h1>
    <div class="section-wrapper row">
        <div id="book-left" class="large-6 columns">
            <div class="xlarge-11 xxlarge-9 columns cell" data-bottom="@Animate: 0;" data-center-top="@Animate: 1;" data-top="@Animate: 1;">
                <img src="../assets/img/_story/africa_2.png" />
                <span class="caption">caption goes here tktktk</span>
            </div>
            <div class="xlarge-11 xxlarge-9 columns cell" data-bottom="@Animate: 0;" data-center-top="@Animate: 1;" data-top="@Animate: 1;">
                <img src="../assets/img/_story/africa_1.png" />
            </div>
            <div class="xlarge-11 xxlarge-9 columns cell" data-bottom="@Animate: 0;" data-center-top="@Animate: 1;" data-top="@Animate: 1;">
                <p class="text-center dropcap">As I go through my JUJU routine in the morning, I picture the baobab and all of the other plants contained in the jars and I can hardly believe how good I feel. This feeling makes me so look forward to the ritual over and over again every day. What these plants have to offer us never ceases to amaze me. Just remember to pause, take it all in, and feel!</p>
            </div>
            <div class="xlarge-11 xxlarge-9 columns cell" data-bottom="@Animate: 0;" data-center-top="@Animate: 1;" data-top="@Animate: 1;">
                <img src="../assets/img/_story/cynthia_1.png" />
                <span class="caption">caption goes here tktktk</span>
            </div>
            <div class="xlarge-11 xxlarge-9 columns cell" data-bottom="@Animate: 0;" data-center-top="@Animate: 1;" data-top="@Animate: 1;">
                <img src="../assets/img/_products/cleanser.jpg" />
                <span class="caption">caption goes here tktktk</span>
            </div>
            <div class="xlarge-11 xxlarge-9 columns cell" data-bottom="@Animate: 0;" data-center-top="@Animate: 1;" data-top="@Animate: 1;">
                <img src="../assets/img/_products/cleanser.jpg" />
                <span class="caption">caption goes here tktktk</span>
            </div>
        </div>
        <div id="book-right" class="large-6 columns">
            <div class="xlarge-11 xxlarge-9 columns cell" data-bottom="@Animate: 0;" data-center-top="@Animate: 1;" data-top="@Animate: 1;">
                <p class="text-center dropcap">I lived my first 17 years in different parts of Africa, and for me the baobab represents the whole of that experience. Known as the ‘tree of life,’ it has been West Africa’s medicine cabinet for centuries. Its fruit, bark, leaves, and seeds are a renewable source of health and harmony for natural living. The tree’s deep beauty comes from this model of abundantly meeting the need, and when next to one you can truly feel the magnitude of life. JUJU—which began in my kitchen for myself years ago—uses every part of the plant that is harvested.</p>
            </div>
            <div class="xlarge-11 xxlarge-9 columns cell" data-bottom="@Animate: 0;" data-center-top="@Animate: 1;" data-top="@Animate: 1;">
                <img src="../assets/img/_story/cynthia_baobab.png" height="840" width="1120" />
            </div>
            <div class="xlarge-11 xxlarge-9 columns cell" data-bottom="@Animate: 0;" data-center-top="@Animate: 1;" data-top="@Animate: 1;">
                <img src="../assets/img/_products/cleanser.jpg" />
                <span class="caption">caption goes here tktktk</span>
            </div>
            <div class="xlarge-11 xxlarge-9 columns cell" data-bottom="@Animate: 0;" data-center-top="@Animate: 1;" data-top="@Animate: 1;">
                <p class="text-center dropcap">This is not simply another cosmetic used to cover oneself up — it’s in fact the opposite, as it naturally helps you uncover more and more to feel the balance and wellbeing of your radiant innermost self! As we move through the days and seasons, much of what we do and encounter adds stress to our bodies. Our skin is constantly faced with challenging conditions in our contemporary world. Finding ways to support the natural shift into balance is what JUJU can help you learn to feel.</p>
            </div>
            <div class="large-12 xlarge-10 xxlarge-9 columns cell" data-bottom="@Animate: 0;" data-center-top="@Animate: 1;" data-top="@Animate: 1;">
                <img src="../assets/img/_products/cleanser.jpg" />
                <span class="caption">caption goes here tktktk</span>
            </div>
        </div>
        <!--  <div class="image-object first" data-bottom="transform: translateX(-250px); transform: translateY(-350px);" data-top="transform: translateX(-250px); transform: translateY(-350px);">{{> flower8}}</div>

        <div class="image-object second" data-bottom="transform: translateX(-250px); transform: translateY(-350px);" data-top="transform: translateX(250px); transform: translateY(-350px);">{{> flower9}}</div>

        <div class="image-object third" data-bottom="transform: translateX(-250px); transform: translateY(-350px);" data-top="transform: translateX(250px); transform: translateY(-350px);">{{> flower10}}</div> -->
    </div>
</section>
