<section id="third" class="row expanded second slide slide8Tall">
    <!-- SLIDE 1 -->
    <div class="row expanded fixed-slide slide" data-bottom-top="opacity: 0;" data--15p-top="opacity: 1;" data--85p-top="opacity: 1;" data-top-bottom="opacity: 0;" data-anchor-target="#third" style="z-index:6">
        <div class="medium-6 column">
            <div class="hsContainer slide">
                <div class="hsContent" data-1650="opacity: 0;" data-2200="opacity: 1;" data-3200="opacity: 1;" data-3750="opacity: 0;" data-anchor-target="#third">
                    <img src="../assets/img/africa_2.png" />
                    <span class="caption">caption goes here tktktk</span>
                </div>
            </div>
            <div class="image-object first" data-1650="opacity: 0;" data-2200="opacity: 1;" data-3200="opacity: 1;" data-3750="opacity: 0;" data-anchor-target="#third">{{> flower8}}</div>
        </div>
        <div class="medium-6 columns">
            <div class="hsContainer slide">
                <div class="hsContent" data-1650="opacity: 0;" data-2200="opacity: 1;" data-3200="opacity: 1;" data-3750="opacity: 0;" data-anchor-target="#third">
                    <p class="text-center dropcap">As I go through my JUJU routine in the morning, I picture the baobab and all of the other plants contained in the jars and I can hardly believe how good I feel. This feeling makes me so look forward to the ritual over and over again every day. What these plants have to offer us never ceases to amaze me. Just remember to pause, take it all in, and feel!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- SLIDE 2 -->
    <div class="row expanded fixed-slide slide" data-3750="opacity: 0;" data-4300="opacity: 1;" data-5300="opacity: 1;" data-5850="opacity: 0;" data-anchor-target="#third" style="z-index:5">
        <div class="medium-6 columns">
            <div class="hsContainer slide">
                <div class="hsContent" data-3750="opacity: 0;" data-4300="opacity: 1;" data-5300="opacity: 1;" data-5850="opacity: 0;" data-anchor-target="#third">
                    <img src="../assets/img/africa_1.png" />
                </div>
            </div>
        </div>
        <div class="medium-6 columns">
            <div class="hsContainer slide">
                <div class="hsContent" data-3750="opacity: 0;" data-4300="opacity: 1;" data-5300="opacity: 1;" data-5850="opacity: 0;" data-anchor-target="#third">
                    <img src="../assets/img/_products/cleanser.jpg" />
                    <span class="caption">caption goes here tktktk</span>
                </div>
            </div>
            <div class="image-object second" data-3750="opacity: 0;" data-4300="opacity: 1;" data-5300="opacity: 1;" data-5850="opacity: 0;" data-anchor-target="#third">{{> flower9}}</div>
        </div>
    </div>
    <!-- SLIDE 3 -->
    <div class="row expanded fixed-slide slide" data-5850="opacity: 0;" data-6400="opacity: 1;" data-7400="opacity: 1;" data-7950="opacity: 0;" data-anchor-target="#third" style="z-index:4">
        <div class="medium-6 columns slide">
            <div class="hsContainer">
                <div class="hsContent" data-5850="opacity: 0;" data-6400="opacity: 1;" data-7400="opacity: 1;" data-7950="opacity: 0;" data-anchor-target="#third">
                    <img src="../assets/img/_products/cleanser.jpg" />
                    <span class="caption">caption goes here tktktk</span>
                </div>
            </div>
        </div>
        <div class="medium-6 columns">
            <div class="hsContainer slide">
                <div class="hsContent" data-5850="opacity: 0;" data-6400="opacity: 1;" data-7400="opacity: 1;" data-7950="opacity: 0;" data-anchor-target="#third">
                    <img src="../assets/img/_products/cleanser.jpg" />
                    <span class="caption">caption goes here tktktk</span>
                </div>
            </div>
        </div>
    </div>
    <!-- SLIDE 4 -->
    <div class="row expanded fixed-slide slide" data-7970="opacity: 0;" data-8520="opacity: 1;" data-9520="opacity: 1;" data-10070="opacity: 0;" data-anchor-target="#third" style="z-index:3">
        <div class="medium-6 columns">
            <div class="hsContainer">
                <div class="hsContent" data-7970="opacity: 0;" data-8520="opacity: 1;" data-9520="opacity: 1;" data-10070="opacity: 0;" data-anchor-target="#third">
                    <p class="text-center dropcap">I lived my first 17 years in different parts of Africa, and for me the baobab represents the whole of that experience. Known as the ‘tree of life,’ it has been West Africa’s medicine cabinet for centuries. Its fruit, bark, leaves, and seeds are a renewable source of health and harmony for natural living. The tree’s deep beauty comes from this model of abundantly meeting the need, and when next to one you can truly feel the magnitude of life. JUJU—which began in my kitchen for myself years ago—uses every part of the plant that is harvested.</p>
                </div>
            </div>
            <div class="image-object third" data-7970="opacity: 0;" data-8520="opacity: 1;" data-9520="opacity: 1;" data-10070="opacity: 0;" data-anchor-target="#third">{{> flower10}}</div>
        </div>
        <div class="medium-6 columns">
            <div class="hsContainer slide">
                <div class="hsContent" data-7970="opacity: 0;" data-8520="opacity: 1;" data-9520="opacity: 1;" data-10070="opacity: 0;" data-anchor-target="#third">
                    <img src="../assets/img/cynthia_1.png" />
                </div>
            </div>
        </div>
    </div>
    <!-- SLIDE 5 -->
    <div class="row expanded fixed-slide slide" data-10070="opacity: 0;" data-10620="opacity: 1;" data-11620="opacity: 1;" data-12170="opacity: 0;" data-anchor-target="#third" style="z-index:2">
        <div class="medium-6 columns">
            <div class="hsContainer slide">
                <div class="hsContent" data-10070="opacity: 0;" data-10620="opacity: 1;" data-11620="opacity: 1;" data-12170="opacity: 0;" data-anchor-target="#third">
                    <img src="../assets/img/_products/cleanser.jpg" />
                    <span class="caption">caption goes here tktktk</span>
                </div>
            </div>
        </div>
        <div class="medium-6 columns">
            <div class="hsContainer slide">
                <div class="hsContent" data-10070="opacity: 0;" data-10620="opacity: 1;" data-11620="opacity: 1;" data-12170="opacity: 0;" data-anchor-target="#third">
                    <p class="text-center dropcap">This is not simply another cosmetic used to cover oneself up — it’s in fact the opposite, as it naturally helps you uncover more and more to feel the balance and wellbeing of your radiant innermost self! As we move through the days and seasons, much of what we do and encounter adds stress to our bodies. Our skin is constantly faced with challenging conditions in our contemporary world. Finding ways to support the natural shift into balance is what JUJU can help you learn to feel.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- SLIDE 6 -->
    <div class="row expanded fixed-slide slide" data-12170="opacity: 0;" data-12720="opacity: 1;" data-13720="opacity: 1;" data-14270="opacity: 0;" data-anchor-target="#third" style="z-index:1">
        <div class="medium-6 columns">
            <div class="hsContainer">
                <div class="hsContent" data-12170="opacity: 0;" data-12720="opacity: 1;" data-13720="opacity: 1;" data-14270="opacity: 0;" data-anchor-target="#third">
                    <img src="../assets/img/_products/cleanser.jpg" />
                    <span class="caption">caption goes here tktktk</span>
                </div>
            </div>
        </div>
        <div class="medium-6 columns">
            <div class="hsContainer">
                <div class="hsContent" data-12170="opacity: 0;" data-12720="opacity: 1;" data-13720="opacity: 1;" data-14270="opacity: 0;" data-anchor-target="#third">
                    <img src="../assets/img/_products/cleanser.jpg" />
                    <span class="caption">caption goes here tktktk</span>
                </div>
            </div>
        </div>
    </div>
</section>
