<div id="site-loader" class="vertical-content-wrapper">
    <div class="vertical-center">
        <div class="large-12 columns text-center header-logo">
            <a class="home" href="{{root}}">{{> juju-logo-1}}</a>
            <p id="mobile-site-message" class="row text-center">
            	Welcome to the Juju Skincare webshop! We are currently in beta. We&#8217;re working hard to provide our customers with a mobile-based shop but until then, please feel free to visit us on your non-mobile devices. Thanks!
            </p>
        </div>
    </div>
</div>
