<div id="shopping-bag" class="shopping-bag">
    <nav id="menu">
        <ul>
            <!-- <li class="small-12 columns bag-item image-wrapper overlay-fade-in">
                <a href="/">
                    <img src="../assets/img/_products/cleanser.jpg" />
                    <div class="image-overlay-content">
                        <h2>Gentle Cleanser</h2>
                        <p class="price">$99.99</p>
                    </div>
            </li> -->
            <li class="bag-item">
                <ul class="row expanded">
                    <li class="item-image small-2 columns"><img src="../assets/img/_products/cleanser.jpg" /></li>
                    <li class="item-details small-10 columns">
                        <h1>Gentle Cleanser</h1>
                        <h2>qty: ()</h2></li>
                </ul>
            </li>
            <li class="bag-item">
                <ul class="row expanded">
                    <li class="item-image small-2 columns"><img src="../assets/img/_products/cleanser.jpg" /></li>
                    <li class="item-details small-10 columns">
                        <h1>Gentle Cleanser</h1>
                        <h2>qty: ()</h2></li>
                </ul>
            </li>
            <li class="bag-item">
                <ul class="row expanded">
                    <li class="item-image small-2 columns"><img src="../assets/img/_products/cleanser.jpg" /></li>
                    <li class="item-details small-10 columns">
                        <h1>Gentle Cleanser</h1>
                        <h2>qty: ()</h2></li>
                </ul>
            </li>
            <li class="bag-item">
                <ul class="row expanded">
                    <li class="item-image small-2 columns"><img src="../assets/img/_products/cleanser.jpg" /></li>
                    <li class="item-details small-10 columns">
                        <h1>Gentle Cleanser</h1>
                        <h2>qty: ()</h2></li>
                </ul>
            </li>
        </ul>
        <div id="global-cart-stats" class="clearfix">
            <p class="subtotal"><span class="st-left">Subtotal:</span><span class="st-right">$167.99</span></p>
            <input class="button open" type="submit" name="addcart" value="Check out" />
        </div>
    </nav>
</div>
