<div id="introblock" class="row expanded quote-block">
    <div class="small-8 small-centered columns">
        <div class="vertical-content-wrapper">
            <blockquote class="vertical-center" data-bottom="@Animate: 0;" data-center="@Animate: 0;" data-_screen-160p="@Animate: 1;" data-_screen-200p="@Animate: 1;">
                <p class="text-center dropcap">&ldquo;True beauty conforms to mankind's deep nature. […] True beauty is the face of a good heart. The closer we come to our ultimate nature, the more we discover the inner beauty we all have.&rdquo;</p>
                <br>
                <span>Matthieu Ricard Buddhist Monk, Photographer, Author</span>
            </blockquote>
        </div>
    </div>
</div>
