<div id="quote-two" class="row expanded quote-block">
    <div class="small-8 small-centered columns">
        <div class="vertical-content-wrapper">
            <blockquote class="vertical-center" data-_screen-50p="@Animate: 0;" data-_screen-60p="@Animate: 1;" data-_screen-100p="@Animate: 1;">
                <p class="text-center dropcap">&#8220;These bottles do not just contain lotion, they are infused with healing energy. In them live the breath of change and transformation. They are a wellness prayer tending to your body and soul need: a humble gift from Cynthia Williamson.&#8221;</p>
                <br>
                <span>&#8212; Malidoma Somé, PhD. Initiated Elder, Author, Diviner</span>
            </blockquote>
        </div>
    </div>
</div>
