<div class="top-bar ui">
    <div class="top-bar-left">
        <ul class="menu" data-dropdown-menu>
            <li class="menu-text">{{> logo-small}}</li>
            <li>
                <button class="button" type="button" data-toggle="example-dropdown">Our Products</button>
                <div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true">
                    Example form in a dropdown.
                    <form>
                        <div class="row">
                            <div class="medium-6 columns">
                                <label>Name
                                    <input type="text" placeholder="Kirk, James T.">
                                </label>
                            </div>
                            <div class="medium-6 columns">
                                <label>Rank
                                    <input type="text" placeholder="Captain">
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="glossary.html"><span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="Coming Soon">Glossary</span></a></li>
            <li id="shopping-bag-toggle"><a href="#">Bag (<span>0</span>)</a></li>
        </ul>
    </div>
</div>
