<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juju Skincare</title>
    <link rel="stylesheet" href="{{root}}assets/css/juju.css">
</head>

<body>
    <div id="site-container">
        {{> offcanvas}} 
        {{> sidebar}} 
        {{> glossary-container}} 
        {{> footer}}
    </div>
    	<script src="{{root}}assets/js/juju.js"></script>
</body>

</html>
